# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ESLint
.eslintignore
.eslintrc
.eslintrc.js
.eslintrc.json
.eslintrc.yaml
.eslintrc.yml

# Prettier
.prettierignore
.prettierrc
.prettierrc.js
.prettierrc.json
.prettierrc.yml
.prettierrc.yaml
.prettierrc.toml
.prettierrc.config.js
.prettierrc.config.cjs
.prettierrc.config.json

# VS Code settings
.vscode/settings.json