.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .menu {
    position: static;
    display: flex;
    gap: 10px;
}

body {
    background: #DCDDDF url(https://cssdeck.com/uploads/media/items/7/7AF2Qzt.png);
    color: #000;
    font: 14px Arial;
    margin: 0 auto;
    padding: 0;
    position: relative;
    height: 100%;
}

#hd_content {
    width: 900px;
}

#hd_content button{
    background: rgb(254, 231, 154);
    background: -moz-linear-gradient(to bottom, rgba(254, 231, 154, 1) 0%, rgba(254, 193, 81, 1) 100%);
    background: -webkit-linear-gradient(to bottom, rgba(254, 231, 154, 1) 0%, rgba(254, 193, 81, 1) 100%);
    background: -o-linear-gradient(to bottom, rgba(254, 231, 154, 1) 0%, rgba(254, 193, 81, 1) 100%);
    background: -ms-linear-gradient(to bottom, rgba(254, 231, 154, 1) 0%, rgba(254, 193, 81, 1) 100%);
    background: linear-gradient(to bottom, rgba(254, 231, 154, 1) 0%, rgba(254, 193, 81, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee79a', endColorstr='#fec151', GradientType=0);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -ms-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    border: 1px solid #D69E31;
    color: #85592e;
    cursor: pointer;
    float: left;
    font: bold 15px Helvetica, Arial, sans-serif;
    height: 35px;
    margin: 40px 0 35px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    width: 150px;
}

#hd_content button:hover {
    background: rgb(254, 193, 81);
    background: -moz-linear-gradient(to bottom, rgba(254, 193, 81, 1) 0%, rgba(254, 231, 154, 1) 100%);
    background: -webkit-linear-gradient(to bottom, rgba(254, 193, 81, 1) 0%, rgba(254, 231, 154, 1) 100%);
    background: -o-linear-gradient(to bottom, rgba(254, 193, 81, 1) 0%, rgba(254, 231, 154, 1) 100%);
    background: -ms-linear-gradient(to bottom, rgba(254, 193, 81, 1) 0%, rgba(254, 231, 154, 1) 100%);
    background: linear-gradient(to bottom, rgba(254, 193, 81, 1) 0%, rgba(254, 231, 154, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fec151', endColorstr='#fee79a', GradientType=0);
}
  
