body {
    background: #DCDDDF url(https://cssdeck.com/uploads/media/items/7/7AF2Qzt.png);
    color: #000;
    font: 14px Arial;
    margin: 0 auto;
    padding: 0;
    position: relative;
    height: 100%;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #563D64;
}

small {
    font-size: 10px;
}

.mod_container {
    display: grid;
    place-items: center; 
    height: 60vh;
    margin: 0;
    width: 900px;
    margin-left: -50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.input_area select {
    width: 400px;
    height: 40px;
    font-size: 20px;
}


#mod_content {
    background: #f9f9f9;
    background: -moz-linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
    background: -webkit-linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
    background: -o-linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
    background: -ms-linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
    background: linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#f9f9f9', GradientType=0);
    -webkit-box-shadow: 0 1px 0 #fff inset;
    -moz-box-shadow: 0 1px 0 #fff inset;
    -ms-box-shadow: 0 1px 0 #fff inset;
    -o-box-shadow: 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 #fff inset;
    border: 1px solid #c4c6ca;
    margin: 10 auto;
    padding: 25px 0 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    width: 800px;
    height: auto;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.ingre_table {
    border: 1px #a39485 solid;
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    width: 50%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
}

#mod_content h1 {
    color: #7E7E7E;
    font: bold 25px Helvetica, Arial, sans-serif;
    letter-spacing: -0.05em;
    line-height: 20px;
    margin: 10px 0 30px;
}

#mod_content h1:before,
#mod_content h1:after {
    content: "";
    height: 1px;
    position: absolute;
    top: 10px;
    width: 27%;
}

#mod_content h1:after {
    background: rgb(126, 126, 126);
    background: -moz-linear-gradient(to left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(to left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(to left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(to left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    right: 0;
}

#mod_content h1:before {
    background: rgb(126, 126, 126);
    background: -moz-linear-gradient(to right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(to right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(to right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(to right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    left: 0;
}


#mod_content:after,
#mod_content:before {
    background: #f9f9f9;
    background: -moz-linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
    background: -webkit-linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
    background: -o-linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
    background: -ms-linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
    background: linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#f9f9f9', GradientType=0);
    border: 1px solid #c4c6ca;
    content: "";
    display: block;
    height: 100%;
    left: -1px;
    position: absolute;
    width: 100%;
}


#mod_content:after {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
    top: 0;
    z-index: -1;
}

#mod_content:before {
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
    top: 0;
    z-index: -2;
}

#mod_content form {
    margin: 0 20px;
    position: relative
}

#mod_content form input[type="text"] {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border: 1px solid #c8c8c8;
    color: #777;
    font: 20px Helvetica, Arial, sans-serif;
    text-align: center;
    margin: 0 0 10px;
    padding: 15px 10px 15px 40px;
    width: 80%;
}

#mod_content form input[type="text"]:focus {
    -webkit-box-shadow: 0 0 2px #ed1c24 inset;
    -moz-box-shadow: 0 0 2px #ed1c24 inset;
    -ms-box-shadow: 0 0 2px #ed1c24 inset;
    -o-box-shadow: 0 0 2px #ed1c24 inset;
    box-shadow: 0 0 2px #ed1c24 inset;
    background-color: #fff;
    border: 1px solid #ed1c24;
    outline: none;
}

#mod_content form input[type="file"] {
    margin-left: 80px;
}

#mod_content form input[type="submit"] {
    background: rgb(254, 231, 154);
    background: -moz-linear-gradient(to bottom, rgba(254, 231, 154, 1) 0%, rgba(254, 193, 81, 1) 100%);
    background: -webkit-linear-gradient(to bottom, rgba(254, 231, 154, 1) 0%, rgba(254, 193, 81, 1) 100%);
    background: -o-linear-gradient(to bottom, rgba(254, 231, 154, 1) 0%, rgba(254, 193, 81, 1) 100%);
    background: -ms-linear-gradient(to bottom, rgba(254, 231, 154, 1) 0%, rgba(254, 193, 81, 1) 100%);
    background: linear-gradient(to bottom, rgba(254, 231, 154, 1) 0%, rgba(254, 193, 81, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee79a', endColorstr='#fec151', GradientType=0);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -ms-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    border: 1px solid #D69E31;
    color: #85592e;
    cursor: pointer;
    float: left;
    font: bold 15px Helvetica, Arial, sans-serif;
    height: 35px;
    margin: 20px 0 35px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    width: 120px;
}

#mod_content form button{
    background: rgb(254, 231, 154);
    background: -moz-linear-gradient(to bottom, rgba(254, 231, 154, 1) 0%, rgba(254, 193, 81, 1) 100%);
    background: -webkit-linear-gradient(to bottom, rgba(254, 231, 154, 1) 0%, rgba(254, 193, 81, 1) 100%);
    background: -o-linear-gradient(to bottom, rgba(254, 231, 154, 1) 0%, rgba(254, 193, 81, 1) 100%);
    background: -ms-linear-gradient(to bottom, rgba(254, 231, 154, 1) 0%, rgba(254, 193, 81, 1) 100%);
    background: linear-gradient(to bottom, rgba(254, 231, 154, 1) 0%, rgba(254, 193, 81, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee79a', endColorstr='#fec151', GradientType=0);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -ms-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    border: 1px solid #D69E31;
    color: #85592e;
    cursor: pointer;
    float: left;
    font: bold 15px Helvetica, Arial, sans-serif;
    height: 35px;
    margin: 5px 0 35px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    width: 150px;
}

#mod_content form button:hover {
    background: rgb(254, 193, 81);
    background: -moz-linear-gradient(to bottom, rgba(254, 193, 81, 1) 0%, rgba(254, 231, 154, 1) 100%);
    background: -webkit-linear-gradient(to bottom, rgba(254, 193, 81, 1) 0%, rgba(254, 231, 154, 1) 100%);
    background: -o-linear-gradient(to bottom, rgba(254, 193, 81, 1) 0%, rgba(254, 231, 154, 1) 100%);
    background: -ms-linear-gradient(to bottom, rgba(254, 193, 81, 1) 0%, rgba(254, 231, 154, 1) 100%);
    background: linear-gradient(to bottom, rgba(254, 193, 81, 1) 0%, rgba(254, 231, 154, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fec151', endColorstr='#fee79a', GradientType=0);
}

#mod_content form .del_btn{
    background: firebrick;
    background: -moz-linear-gradient(to bottom, firebrick 0%, firebrick 100%);
    background: -webkit-linear-gradient(to bottom, firebrick 0%, firebrick 100%);
    background: -ms-linear-gradient(to bottom, firebrick 0%, firebrick 100%);
    background: linear-gradient(to bottom, firebrick 0%, firebrick 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee79a', endColorstr='#fec151', GradientType=0);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -ms-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    border: 1px solid white;
    color: #fff;
    cursor: pointer;
    float: left;
    font: bold 15px Helvetica, Arial, sans-serif;
    height: 35px;
    margin: 5px 0 35px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    width: 150px;
}

#mod_content form .del_btn:hover {
    background: #d43f00;
    background: -moz-linear-gradient(to bottom, #d43f00 0%, #c0392b 100%);
    background: -webkit-linear-gradient(to bottom, #d43f00 0%, #c0392b 100%);
    background: -ms-linear-gradient(to bottom, #d43f00 0%, #c0392b 100%);
    background: linear-gradient(to bottom, #d43f00 0%, #c0392b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d43f00', endColorstr='#c0392b', GradientType=0);
}


#mod_content form input[type="submit"]:hover {
    background: rgb(254, 193, 81);
    background: -moz-linear-gradient(to bottom, rgba(254, 193, 81, 1) 0%, rgba(254, 231, 154, 1) 100%);
    background: -webkit-linear-gradient(to bottom, rgba(254, 193, 81, 1) 0%, rgba(254, 231, 154, 1) 100%);
    background: -o-linear-gradient(to bottom, rgba(254, 193, 81, 1) 0%, rgba(254, 231, 154, 1) 100%);
    background: -ms-linear-gradient(to bottom, rgba(254, 193, 81, 1) 0%, rgba(254, 231, 154, 1) 100%);
    background: linear-gradient(to bottom, rgba(254, 193, 81, 1) 0%, rgba(254, 231, 154, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fec151', endColorstr='#fee79a', GradientType=0);
}

#mod_content form .mod_inst_btn {
    height: 40px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mod_content form .mod_last_btn_line {
    height: 40px;
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mod_content form .table_container {
    display: flex;
    justify-content: center;
    align-items: center; 
}

#mod_content form .ingre_table {
    border: 1px #a39485 solid;
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    width: 50%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
}

#mod_content form .filebutton{
    background: rgb(154, 214, 254);
    background: -moz-linear-gradient(to bottom, rgba(154, 214, 254) 0%, rgb(81, 156, 254) 100%);
    background: -webkit-linear-gradient(to bottom, rgba(154, 214, 254) 0%, rgba(81, 156, 254) 100%);
    background: -o-linear-gradient(to bottom, rgba(154, 214, 254) 0%, rgba(81, 156, 254) 100%);
    background: -ms-linear-gradient(to bottom, rgba(154, 214, 254) 0%, rgba(81, 156, 254) 100%);
    background: linear-gradient(to bottom, rgba(154, 214, 254) 0%, rgba(81, 156, 254) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee79a', endColorstr='#fec151', GradientType=0);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -ms-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    border: 1px solid rgba(154, 214, 254);
    color: black;
    cursor: pointer;
    float: left;
    font: bold 15px Helvetica, Arial, sans-serif;
    height: 35px;
    /* margin: 5px 0 35px 15px; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    width: 100px;
}

#mod_content form .filebutton:hover {
    background: rgb(81, 156, 254);
    background: -moz-linear-gradient(to bottom, rgba(81, 156, 254, 1) 0%, rgba(154, 214, 254) 100%);
    background: -webkit-linear-gradient(to bottom, rgba(81, 156, 254, 1) 0%, rgba(154, 214, 254) 100%);
    background: -o-linear-gradient(to bottom, rgba(81, 156, 254, 1) 0%, rgba(154, 214, 254) 100%);
    background: -ms-linear-gradient(to bottom, rgba(81, 156, 254, 1) 0%, rgba(154, 214, 254) 100%);
    background: linear-gradient(to bottom, rgba(81, 156, 254, 1) 0%, rgba(154, 214, 254) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fec151', endColorstr='#fee79a', GradientType=0);
}


#mod_content form div a {
    color: #004a80;
    float: right;
    font-size: 12px;
    margin: 30px 15px 0 0;
    text-decoration: underline;
}

.button {
    background: rgb(247, 249, 250);
    background: -moz-linear-gradient(to bottom, rgba(247, 249, 250, 1) 0%, rgba(240, 240, 240, 1) 100%);
    background: -webkit-linear-gradient(to bottom, rgba(247, 249, 250, 1) 0%, rgba(240, 240, 240, 1) 100%);
    background: -o-linear-gradient(to bottom, rgba(247, 249, 250, 1) 0%, rgba(240, 240, 240, 1) 100%);
    background: -ms-linear-gradient(to bottom, rgba(247, 249, 250, 1) 0%, rgba(240, 240, 240, 1) 100%);
    background: linear-gradient(to bottom, rgba(247, 249, 250, 1) 0%, rgba(240, 240, 240, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f9fa', endColorstr='#f0f0f0', GradientType=0);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #CFD5D9;
    padding: 15px 0;
}

.button a {
    background: url(https://cssdeck.com/uploads/media/items/8/8bcLQqF.png) 0 -112px no-repeat;
    color: #7E7E7E;
    font-size: 17px;
    padding: 2px 0 2px 40px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.button a:hover {
    background-position: 0 -135px;
    color: #00aeef;
}